@using System.Collections
@model IEnumerable<OutOfBound.Models.QuestionModel>

@{
    ViewData["Title"] = "Questions";
}

<h1>Questions</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID })  |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID }) 
            </td>
        </tr>
}
    </tbody>
</table>
