@model OutOfBound.Models.QuestionModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<div>
    <hr/>
    <dl class="row">
        <p>@Html.DisplayFor(model => model.Text)</p>
    </dl>

    <dl class="row">
        <h3>Answers</h3>
    </dl>
    <table class="table">
        <tbody>
        @foreach (var item in Model.AnswerModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-controller="Answers" asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-controller="Answers" asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-controller="Answers" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="PostAnswer" asp-route-id="@Model?.ID">Post a New Answer</a> |
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit Question</a> |
    <a asp-action="Index">Back to List</a>
</div>